<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Image Gallery</title>
  <style>
    .image-container { display: flex; flex-wrap: wrap; }
    .image-box { padding: 10px; }
    img { width: 200px; }
    .pagination {text-align: center; margin-top: 20px; }
    .page-link { margin: 0 5px; }
    main { display: flex; flex-direction: row; }
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>
    <h1>Image Gallery</h1>
  </header>
  <nav>
    <ul>
      <li>Gallery</li>
      <li><a href="{{ url_for('upload_file') }}">Upload</a></li>
      <li><a href="{{ url_for('show_tags') }}">Tags</a></li>
    </ul>
  </nav>

  <main>
    <article>
      {% if selected_tag_list %}
        <section>
          <h2>Filter setting</h2>
          <p>Filter type: {{ filter_type }}</p>
          <ul>
            {% for selected_tag in selected_tag_list %}
              <li>{{ selected_tag }}</li>
            {% endfor %}
          </ul>
          <p><a href="{{ url_for('show_images') }}">Clear filter</a></p>
        </section>
      {% endif %}

      <section>
        <h2>Images</h2>
        <div class="image-container">
          {% for image in image_files %}
            <div class="image-box">
              <a href="{{ url_for('send_image', filename=image) }}">
                <img src="{{ url_for('static', filename='images/' + image) }}" alt="{{ image }}">
              </a>
            </div>
          {% endfor %}
        </div>
      </section>

      <section class="pagination">
        <h2>Pages</h2>
        {% for page_num in range(1, total_pages + 1) %}
          {% if page_num == current_page %}
            <span class="page-link">{{ page_num }}</span>
          {% else %}
            {% if selected_tag_list %}
              {% set base_url = url_for('show_images', page=page_num, filter_type=filter_type) %}
              {% set tag_query = '&tag=' + selected_tag_list|join('&tag=') %}
              <a href="{{ base_url + tag_query }}" class="page-link">{{ page_num }}</a>
            {% else %}
              <a href="{{ url_for('show_images', page=page_num) }}" class="page-link">{{ page_num }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </section>
    </article>

    <aside>
      <h3>Tags</h3>
      <form action="/" method="get" id="tagsForm">
        {% for tag in all_tag_list %}
          <div>
            <input type="checkbox" id="tag-{{ tag }}" name="tag" value="{{ tag }}" {% if tag in selected_tag_list %}checked{% endif %}>
            <label for="tag-{{ tag }}">{{ tag }}</label>
          </div>
        {% endfor %}
        {% if all_tag_list %}
          <legend>Filter type</legend>
          <div>
            <input type="radio" id="and" name="filter_type" value="and" {% if filter_type == 'and' %}checked{% endif %}>
            <label for="and">AND</label>
            <input type="radio" id="or" name="filter_type" value="or" {% if filter_type == 'or' %}checked{% endif %}>
            <label for="or">OR</label>
          </div>
        {% endif %}
        <input type="submit" value="Filter">
        <button type="button" onclick="clearAllChecks()">Clear All</button>
      </form>
    </aside>
  </main>

  <script>
    function clearAllChecks() {
      // Get all input elements within the form
      var inputs = document.getElementById('tagsForm').getElementsByTagName('input');

      // Loop through the input elements and uncheck if it's a checkbox
      for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].type == "checkbox") {
          inputs[i].checked = false;
        }
      }
    }
  </script>
</body>
</html>

