<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Image Gallery</title>
  <style>
    .image-container { display: flex; flex-wrap: wrap; }
    .image-box { padding: 10px; }
    img { width: 200px; }
    .pagination {text-align: center; margin-top: 20px; }
    .page-link { margin: 0 5px; }
    main { display: flex; flex-direction: row; }
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>
    <h1>Image Gallery</h1>
  </header>
  <nav>
    <ul>
      <li class="not-selected-nav-item"><a href="{{ url_for('show_images') }}">Gallery</a></li>
      <li class="selected-nav-item"><span>Recent</span></li>
      <li class="not-selected-nav-item"><a href="{{ url_for('upload_file') }}">Upload</a></li>
      <li class="not-selected-nav-item"><a href="{{ url_for('show_tags') }}">Tags</a></li>
    </ul>
  </nav>

  <main>
    <article>
      <section>
        <h2>Images uploaded in last 10 days</h2>
        <div class="image-container">
          {% for image in image_files %}
            <div class="image-box">
              <a href="{{ url_for('send_recent_image', filename=image) }}">
                <img src="{{ url_for('static', filename='images/' + image) }}" alt="{{ image }}">
              </a>
            </div>
          {% endfor %}
        </div>
      </section>

      <section class="pagination">
        <h2>Pages</h2>
        {% for page_num in range(1, total_pages + 1) %}
          {% if page_num == current_page %}
            <span class="page-link">{{ page_num }}</span>
          {% else %}
            <a href="{{ url_for('show_images', page=page_num) }}" class="page-link">{{ page_num }}</a>
          {% endif %}
        {% endfor %}
      </section>
    </article>
  </main>
</body>
</html>

