<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tags</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>
    <h1>Image Gallery</h1>
  </header>
  <nav>
    <ul>
      <li class="not-selected-nav-item"><a href="{{ url_for('show_images') }}">Gallery</a></li>
      <li class="not-selected-nav-item"><a href="{{ url_for('show_recent_images') }}">Recent</a></li>
      <li class="not-selected-nav-item"><a href="{{ url_for('upload_file') }}">Upload</a></li>
      <li class="selected-nav-item"><span>Tags</span></li>
    </ul>
  </nav>

  <main>
    <h2>Tags</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <section>
      <h3>Create new tag</h3>
      <form action="{{ url_for('show_tags') }}" method="post">
        <label for="tag">Tag name:</label>
        <input type="text" id="tag" name="tag" required>
        <button type="submit">Create</button>
      </form>
    </section>

    <section>
      <h3>Tags list</h3>
      {% if all_tag_list %}
        <ul>
          {% for tag in all_tag_list %}
            <li>
              {{ tag }}
              <form action="{{ url_for('update_tag', tagname=tag) }}" method="post">
                <button type="submit">Rename to...</button>
                <input type="text" id="newname" name="newname" required>
              </form>
              <button class="delete-button" value="{{ tag }}" style="color:red">DELETE</button>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No tags found.</p>
      {% endif %}
    </section>
  </main>

  <script>
    // Send a DELETE request when DELETE button is pressed with corresponding tag name
    const deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(button => {
      button.addEventListener('click', async (e) => {
        const tag = e.target.value;
        const response = await fetch(`/tags/${tag}`, {
          method: 'DELETE'
        });
        // Follow the redirect
        if (response.redirected) {
          window
            .fetch(response.url)
            .then(() => window.location.reload());
        }
      });
    });
  </script>
</body>
</html>

