<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Upload New File</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>
    <h1>Image Gallery</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Gallery</a></li>
      <li><span>Upload</span></li>
    </ul>
  </nav>

  <main>
    <h2>Upload New Image</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="" method=post enctype=multipart/form-data>
      <input type=file name=file id="fileInput">
      <input type=submit value=Upload>
    </form>
  </main>

  <!-- <div id="fileList"></div> -->

  <!-- <script>
    document.getElementById('fileInput').addEventListener('change', function(event) {
      const output = document.getElementById('fileList');
      const files = event.target.files;
      let fileListDisplay = '<h2>Selected Files:</h2><ul>';
      for (let i = 0; i < files.length; i++) {
        fileListDisplay += '<li>' + files[i].name + '</li>';
      }
      fileListDisplay += '</ul>';
      output.innerHTML = fileListDisplay;
    });
  </script> -->
</body>
</html>

